.logo {
    background-image: url("../../assets/favicon.png");
    width: 5rem;
    height: 5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: black;
}

.header {
    button {
        letter-spacing: 2px;
        color: white;
    }
}