@import './../../style/theme/theme.scss';

.signup {
    width: 65rem;
    padding: 3%;
    background: white;

    .required label::after {
        content: " *";
        color: #e32;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .form-control.is-invalid,
    .was-validated .form-control:invalid {
        border: 1px solid #ced4da;
    }


    .btn-group {
        .btn {
            margin-right: 0.5em;
            box-sizing: border-box;
            background: #FFFFFF;
            border: 1px solid $color-orange;
            border-radius: 10px !important;
            color: $color-orange;
        }

        .btn-primary.focus,
        .btn-primary:focus {
            box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
        }

        .secondary-btn {
            border: 1px solid $color-gray;
            border-radius: 10px;
            color: $color-gray;
        }
    }


    .MuiTextField-root,
    .MuiOutlinedInput-root {
        width: inherit;
    }

    .line-border {
        border-right: 1px solid #888291;
    }

    .role-icons {
        margin-right: 5px;
        .btn-primary, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active, button:not(:disabled) {
            background: white;
        }
        svg {
            background: #FFFFFF;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
            border-radius: 50%;
            padding: 25%;
            width: 4rem;
            height: 4rem;
        }
    }

    .rc-anchor-light.rc-anchor-normal {
        border: unset !important
    }

    .rc-anchor-light {
        background: white !important;
    }

    .rc-anchor {
        box-shadow: unset !important;
    }
}

.logo {
  img {
    width: 5rem;
    height: 5rem;
  } 
   margin-top: 2%; 
   display: flex;
   justify-content: center;
}