.signup {
    width: 40em;
    padding: 3%;
    border: 1px solid;

    .required::after {
        content: " *";
        color: #e32;
        position: absolute;
        margin: 0px 0px 0px -20px;
        font-size: xx-large;
        padding: 0 5px 0 0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}