@import './../../style/theme/theme.scss';

.signup {
    width: 40em;
    padding: 3%;
    margin: 2%;
    border: 1px solid $color-orange;

    .required label::after {
        content: " *";
        color: #e32;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}