@import './style/theme/theme.scss';

body {
  margin: 0;
  font-family: "Noto Sans" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 15px Lato, sans-serif;
}

code {
  font-family: "Noto Sans";
}
